In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import json

## Read and agg data

In [2]:
customerprofile = pd.read_csv(r'data\customerprofile.csv')
customerprofile = customerprofile.drop(columns=['AccountType'])
Merchant = pd.read_csv(r'data\Merchant.csv')
MerchantOffers = pd.read_csv(r'data\MerchantOffers.csv')
Transaction = pd.read_csv(r'Transaction_Egypt.csv')
Transaction['Amount'] = (Transaction['Amount'] * np.abs(np.random.uniform(0.5, 50, size=len(Transaction))))
# MerchantOffers.drop(['Offer_Start_Date','Offer_End_Date'],axis=1, inplace=True)
Transaction.head()

,TransactionID,CustomerID,Amount,LocationCity,TransactionDateTime,AccountBalanceAfter,MerchantID,MCC,AccountType
0,0,0,245089.146721,Fayoum,2024-05-24 12:25:03,4157.60,72,5912,CREDIT_CARD
1,1,2,29444.205089,Aswan,2024-01-13 08:31:59,2422.37,6,5651,DEBIT
2,2,2,134233.621712,Aswan,2024-05-08 19:44:33,1215.40,30,5912,CREDIT_CARD
3,3,0,112308.813777,Alexandria,2024-06-22 09:00:55,6179.31,21,5912,DEBIT
4,4,3,11940.662598,Tanta,2024-11-05 13:16:43,3164.82,97,5732,CREDIT_CARD

In [3]:
customerprofile.head()

,CustomerID,Name,Sex,HouseLocation,Age,MaritalStatus,AccountBalance,Risk,IncomeEstimation
0,0,Ahmed Ali,Male,Cairo,30,Single,15000.0,Medium,50000.0
1,1,Mona Samy,Female,Alexandria,28,Married,20000.0,Low,60000.0
2,2,Omar Khaled,Male,Giza,35,Married,25000.0,High,70000.0
3,3,Yara Hossam,Female,Luxor,22,Single,10000.0,Low,40000.0
4,4,Karim Adel,Male,Aswan,40,Married,30000.0,Medium,80000.0

In [4]:
merged_data = pd.merge(customerprofile,Transaction, on='CustomerID')
merged_data = pd.merge(merged_data, Merchant, on='MerchantID')
merged_data = pd.merge(merged_data, MerchantOffers, on='MerchantID')
merged_data.to_csv('mergedata.csv',index=False)
merged_data.head()

,CustomerID,Name,Sex,HouseLocation,Age,MaritalStatus,AccountBalance,Risk,IncomeEstimation,TransactionID,...,AccountType,MCC_Code,Merchant_Name,SubCategory,Location,Unnamed: 0,Offer_ID,Offer_Description,Offer_Start_Date,Offer_End_Date
0,0,Ahmed Ali,Male,Cairo,30,Single,15000.0,Medium,50000.0,3,...,DEBIT,5651,Zara,Clothing,Alexandria,21,21,"Buy 2, get 1 free on all items",2023-10-05,2023-10-20
1,0,Ahmed Ali,Male,Cairo,30,Single,15000.0,Medium,50000.0,3,...,DEBIT,5651,Zara,Clothing,Alexandria,71,71,"Buy 1, get 1 free on all sweaters",2023-11-05,2023-11-20
2,0,Ahmed Ali,Male,Cairo,30,Single,15000.0,Medium,50000.0,6,...,DEBIT,5651,Bershka,Clothing,Luxor,23,23,Free scarf with any winter jacket purchase,2023-10-15,2023-10-30
3,0,Ahmed Ali,Male,Cairo,30,Single,15000.0,Medium,50000.0,6,...,DEBIT,5651,Bershka,Clothing,Luxor,73,73,Free gloves with any winter coat purchase,2023-11-15,2023-11-30
4,0,Ahmed Ali,Male,Cairo,30,Single,15000.0,Medium,50000.0,53,...,CREDIT_CARD,5651,H&M,Clothing,Cairo,20,20,50% off on all summer clothing,2023-10-01,2023-10-15

In [5]:
merged_data['TransactionDateTime'] = pd.to_datetime(merged_data['TransactionDateTime'])
merged_data['Day'] = merged_data['TransactionDateTime'].dt.day
merged_data['Month'] = merged_data['TransactionDateTime'].dt.month

## build the costumer profile

In [6]:
# avg_spending and srd_spending for each customer
customer_avg_amount = (merged_data.groupby('CustomerID')['Amount'].agg(['mean', 'std']).reset_index().rename(columns={'mean': 'avg_spending', 'std': 'std_spending'}))
customer_profile = customerprofile.merge(customer_avg_amount, on='CustomerID', how='left')
# Display as JSON
print(json.dumps(json.loads(customer_profile.head(1).to_json(orient='records')), indent=4))

[
    {
        "CustomerID": 0,
        "Name": "Ahmed Ali",
        "Sex": "Male",
        "HouseLocation": "Cairo",
        "Age": 30,
        "MaritalStatus": "Single",
        "AccountBalance": 15000.0,
        "Risk": "Medium",
        "IncomeEstimation": 50000.0,
        "avg_spending": 68982.3867043048,
        "std_spending": 54764.1387474908
    }
]

In [7]:
# Calculate total number of transactions per customer
# customer_total_transactions = merged_data.groupby('CustomerID')['TransactionID'].count().reset_index().rename(columns={'TransactionID': 'number_of_transactions'})
# customer_profile = customer_profile.merge(customer_total_transactions, on='CustomerID', how='left')
# print(json.dumps(json.loads(customer_profile.head(1).to_json(orient='records')), indent=4))

In [8]:
def nest_codes(row,name,pivot):
    data = {x  : row[x] for x in pivot }
    # data = {x  : row[x] for x in pivot if row[x] >0 }

    row = row.drop(pivot)
    row[name] = dict(sorted(data.items(), key=lambda x: x[1], reverse=True))
    return row

In [9]:
# Calculate frequency of transactions in different MCC categories
mcc_frequency = merged_data.groupby(['CustomerID', 'MCC'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='CustomerID', columns='MCC', values='TransactionID').fillna(0)
mcc_pivot.columns = mcc_pivot.columns.astype(str)  # Convert column names to strings

customer_profile = customer_profile.merge(mcc_pivot, on='CustomerID', how='left')
customer_profile = customer_profile.apply(lambda x : nest_codes(x,"transactions_per_MCC_Code",mcc_pivot.columns),axis=1)

print(json.dumps(json.loads(customer_profile.head(1).to_json(orient='records')), indent=4))

[
    {
        "CustomerID": 0,
        "Name": "Ahmed Ali",
        "Sex": "Male",
        "HouseLocation": "Cairo",
        "Age": 30,
        "MaritalStatus": "Single",
        "AccountBalance": 15000.0,
        "Risk": "Medium",
        "IncomeEstimation": 50000.0,
        "avg_spending": 68982.3867043048,
        "std_spending": 54764.1387474908,
        "transactions_per_MCC_Code": {
            "5732": 18,
            "5999": 18,
            "5812": 16,
            "5651": 14,
            "5912": 12,
            "5941": 12,
            "5411": 8
        }
    }
]

In [10]:
# Calculate frequency of transactions in different MCC categories
mcc_frequency = merged_data.groupby(['CustomerID', 'Merchant_Name'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='CustomerID', columns='Merchant_Name', values='TransactionID').fillna(0)
mcc_pivot.columns = mcc_pivot.columns.astype(str)
customer_profile = customer_profile.merge(mcc_pivot, on='CustomerID', how='left')

customer_profile = customer_profile.apply(lambda x : nest_codes(x,"transactions_per_Merchant_Names",mcc_pivot.columns),axis=1)
print(json.dumps(json.loads(customer_profile.head(1).to_json(orient='records')), indent=4))

[
    {
        "CustomerID": 0,
        "Name": "Ahmed Ali",
        "Sex": "Male",
        "HouseLocation": "Cairo",
        "Age": 30,
        "MaritalStatus": "Single",
        "AccountBalance": 15000.0,
        "Risk": "Medium",
        "IncomeEstimation": 50000.0,
        "avg_spending": 68982.3867043048,
        "std_spending": 54764.1387474908,
        "transactions_per_MCC_Code": {
            "5732": 18,
            "5999": 18,
            "5812": 16,
            "5651": 14,
            "5912": 12,
            "5941": 12,
            "5411": 8
        },
        "transactions_per_Merchant_Names": {
            "Hardee's": 8.0,
            "Bershka": 6.0,
            "Kheir Zaman": 6.0,
            "Starbucks": 6.0,
            "19011 Pharmacy": 4.0,
            "Al Borg Pharmacy": 4.0,
            "Al Hayat Pharmacy": 4.0,
            "Alfa Market": 4.0,
            "Burger King": 4.0,
            "Carrefour": 4.0,
            "El Ezaby Pharmacy": 4.0,
            "LC Waikiki": 4.0,
            "McDonald's": 4.0,
            "Seoudi Market": 4.0,
            "Zara": 4.0,
            "Al Safa Pharmacy": 2.0,
            "Apple Store": 2.0,
            "B.Tech": 2.0,
            "Buffalo Burger": 2.0,
            "Defacto": 2.0,
            "El Tahrir Restaurant": 2.0,
            "H&M": 2.0,
            "HyperOne": 2.0,
            "Misr Pharmacy": 2.0,
            "Samsung Store": 2.0,
            "Seif Pharmacy": 2.0,
            "Sharaf DG": 2.0,
            "Souq.com": 2.0,
            "Stradivarius": 2.0
        }
    }
]

In [ ]:
# Calculate frequency of transactions in different MCC categories
mcc_frequency = merged_data.groupby(['CustomerID', 'SubCategory'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='CustomerID', columns='SubCategory', values='TransactionID').fillna(0)
customer_profile = customer_profile.merge(mcc_pivot, on='CustomerID', how='left')

customer_profile = customer_profile.apply(lambda x : nest_codes(x,"transactions_per_SubCategory",mcc_pivot.columns),axis=1)

print(json.dumps(json.loads(customer_profile.head(1).to_json(orient='records')), indent=4))

In [ ]:
mcc_frequency = merged_data.groupby(['CustomerID', 'LocationCity'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='CustomerID', columns='LocationCity', values='TransactionID').fillna(0)
customer_profile = customer_profile.merge(mcc_pivot, on='CustomerID', how='left')

customer_profile = customer_profile.apply(lambda x : nest_codes(x,"LocationCity",mcc_pivot.columns),axis=1)

print(json.dumps(json.loads(customer_profile.head(1).to_json(orient='records')), indent=4))

In [ ]:
mcc_frequency = merged_data.groupby(['CustomerID', 'Day'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='CustomerID', columns='Day', values='TransactionID').fillna(0)
customer_profile = customer_profile.merge(mcc_pivot, on='CustomerID', how='left')

customer_profile = customer_profile.apply(lambda x : nest_codes(x,"Days",mcc_pivot.columns),axis=1)

print(json.dumps(json.loads(customer_profile.head(1).to_json(orient='records')), indent=4))

In [ ]:
mcc_frequency = merged_data.groupby(['CustomerID', 'AccountType'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='CustomerID', columns='AccountType', values='TransactionID').fillna(0)
customer_profile = customer_profile.merge(mcc_pivot, on='CustomerID', how='left')

customer_profile = customer_profile.apply(lambda x : nest_codes(x,"AccountTypes",mcc_pivot.columns),axis=1)

print(json.dumps(json.loads(customer_profile.head(1).to_json(orient='records')), indent=4))

In [ ]:
mcc_frequency = merged_data.groupby(['CustomerID', 'Offer_Description'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='CustomerID', columns='Offer_Description', values='TransactionID').fillna(0)
customer_profile = customer_profile.merge(mcc_pivot, on='CustomerID', how='left')

customer_profile = customer_profile.apply(lambda x : nest_codes(x,"Offer_Description",mcc_pivot.columns),axis=1)

print(json.dumps(json.loads(customer_profile.head(1).to_json(orient='records')), indent=4))

## marchant profile

In [ ]:
Merchant.head()

In [ ]:
MerchantOffers.head()

In [ ]:
mcc_frequency = merged_data.groupby(['MerchantID','Sex','MaritalStatus'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='MerchantID', columns=['MaritalStatus','Sex'], values='TransactionID').fillna(0)
mcc_pivot.columns = ['_'.join(col).strip() for col in mcc_pivot.columns]
merchant_profile = Merchant.merge(mcc_pivot, on='MerchantID')
print(json.dumps(json.loads(merchant_profile.head(1).to_json(orient='records')), indent=4))

In [ ]:
mcc_frequency = merged_data.groupby(['MerchantID','HouseLocation'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='MerchantID', columns=['HouseLocation'], values='TransactionID').fillna(0)
merchant_profile = merchant_profile.merge(mcc_pivot, on='MerchantID')
merchant_profile = merchant_profile.apply(lambda x : nest_codes(x,"HouseLocation",mcc_pivot.columns),axis=1)

print(json.dumps(json.loads(merchant_profile.head(1).to_json(orient='records')), indent=4))

In [ ]:
mcc_frequency = merged_data.groupby(['MerchantID','Age'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='MerchantID', columns=['Age'], values='TransactionID').fillna(0)
merchant_profile = merchant_profile.merge(mcc_pivot, on='MerchantID')
merchant_profile = merchant_profile.apply(lambda x : nest_codes(x,"Ages",mcc_pivot.columns),axis=1)

print(json.dumps(json.loads(merchant_profile.head(1).to_json(orient='records')), indent=4))

In [ ]:
mcc_frequency = merged_data.groupby(['MerchantID','AccountType'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='MerchantID', columns=['AccountType'], values='TransactionID').fillna(0)
merchant_profile = merchant_profile.merge(mcc_pivot, on='MerchantID')
merchant_profile = merchant_profile.apply(lambda x : nest_codes(x,"AccountType",mcc_pivot.columns),axis=1)

print(json.dumps(json.loads(merchant_profile.head(1).to_json(orient='records')), indent=4))

In [ ]:
mcc_frequency = merged_data.groupby(['MerchantID','Offer_Description'])['TransactionID'].count().reset_index()
mcc_pivot = mcc_frequency.pivot(index='MerchantID', columns=['Offer_Description'], values='TransactionID').fillna(0)
merchant_profile = merchant_profile.merge(mcc_pivot, on='MerchantID')
merchant_profile = merchant_profile.apply(lambda x : nest_codes(x,"Offer_Description",mcc_pivot.columns),axis=1)

print(json.dumps(json.loads(merchant_profile.head(1).to_json(orient='records')), indent=4))

In [ ]:
print(json.dumps(json.loads(merchant_profile.head(5).to_json(orient='records')), indent=4))

### gimini

In [ ]:
pip install -q -U google-generativeai

In [ ]:
# import google.generativeai as genai

# genai.configure(api_key="AIzaSyCjQvCYWiYVJCLcCQz-dand6vT6wionxck")
# model = genai.GenerativeModel("gemini-1.5-flash")

In [ ]:
import json

def format_customer_data(customer_data):
    """
    Formats customer data into a plain text description for Gemini.
    
    Args:
        customer_data (list): List of customer dictionaries.
    
    Returns:
        str: Formatted plain text description of the data.
    """
    data_str = ""
    
    for customer in customer_data:
        data_str += f"Customer ID: {customer['CustomerID']}\n"
        data_str += f"Name: {customer['Name']}\n"
        data_str += f"Sex: {customer['Sex']}\n"
        data_str += f"House Location: {customer['HouseLocation']}\n"
        data_str += f"Age: {customer['Age']}\n"
        data_str += f"Marital Status: {customer['MaritalStatus']}\n"
        data_str += f"Account Balance: {customer['AccountBalance']}\n"
        data_str += f"Risk: {customer['Risk']}\n"
        data_str += f"Income Estimation: {customer['IncomeEstimation']}\n"
        data_str += f"Average Spending: {customer['avg_spending']}\n"
        data_str += f"Standard Deviation of Spending: {customer['std_spending']}\n"
        
        # MCC Codes
        data_str += "MCC Codes:\n"
        for code, count in customer["MCC_Code"].items():
            data_str += f"  - {code}: {count} transactions\n"
        
        # Merchant Names
        data_str += "Merchant Names:\n"
        for merchant, count in customer["Merchant_Names"].items():
            data_str += f"  - {merchant}: {count} transactions\n"
        
        # Sub Categories
        data_str += "Sub Categories:\n"
        for category, count in customer["SubCategory"].items():
            data_str += f"  - {category}: {count} transactions\n"
        
        # Location Cities
        data_str += "Location Cities:\n"
        for city, count in customer["LocationCity"].items():
            data_str += f"  - {city}: {count} transactions\n"
        
        # Days
        data_str += "Days:\n"
        for day, count in customer["Days"].items():
            data_str += f"  - Day {day}: {count} transactions\n"
        
        # Account Types
        data_str += "Account Types:\n"
        for acc_type, count in customer["AccountTypes"].items():
            data_str += f"  - {acc_type}: {count} transactions\n"
        
        # Offer Descriptions
        data_str += "Offer Descriptions:\n"
        for offer, count in customer["Offer_Description"].items():
            data_str += f"  - {offer}: {count} times\n"
        
        data_str += "\n"  # Add a newline between customers
    
    return data_str
customer_data = customer_profile.to_dict(orient="records")
formatted_data = format_customer_data(customer_data)

In [29]:
prompt = f"""
You are an expert data analyst who specializes in understanding and interpreting customer profiles. Below is a dataset containing detailed information about customers' demographics, spending habits, and preferences. Your task is to analyze this data and provide insights or answer questions based on it.

Here is the dataset:
{formatted_data}

Please analyze this data and provide insights or answer questions about the customers' behavior, preferences, and spending patterns. For example:
1. What are the most frequently used MCC codes?
2. Which merchants are most popular among customers?
3. What are the most common spending categories?
4. Based on the data, what kind of offers or promotions might appeal to specific customers?
"""

In [ ]:
import google.generativeai as genai

# Configure the API key
genai.configure(api_key="AIzaSyCjQvCYWiYVJCLcCQz-dand6vT6wionxck")

# Initialize the GenerativeModel
model = genai.GenerativeModel("gemini-1.5-flash")

# Start a chat session (this maintains context)
chat = model.start_chat(history=[])
response = chat.send_message(prompt)
print(response.text)

In [ ]:


# Your data (e.g., product details)
data = """
Here is some information about our products:
1. Product: Laptop, Brand: Dell, Price: $1200, Features: 16GB RAM, 512GB SSD
2. Product: Smartphone, Brand: Apple, Price: $999, Features: 128GB Storage, 5G Support
3. Product: Tablet, Brand: Samsung, Price: $600, Features: 10-inch Display, 64GB Storage
"""

# Provide the data to the model as context
chat.send_message(f"Please understand the following data and use it to answer my questions:\n{data}")
chat.send_message(f"Please understand the following data and use it to answer my questions:\n{data}")

# Function to interact with the chatbot
def chatbot():
    print("Welcome to the Gemini Chatbot! Type 'exit' to end the conversation.")
    
    while True:
        user_input = input("You: ").strip()  # Remove leading/trailing whitespace
        
        # Check if the input is empty
        if not user_input:
            print("Please provide a non-empty input.")
            continue
        
        # Exit the chat if the user types 'exit'
        if user_input.lower() == 'exit':
            print("Goodbye!")
            break
        
        try:
            # Send user input to the model and get the response
            response = chat.send_message(user_input)
            
            # Print the model's response
            print(f"Gemini: {response.text}")
            
            # Optional: Print the chat history for debugging
            print("\n--- Chat History ---")
            for message in chat.history:
                print(f"{message.role}: {message.parts[0].text}")
            print("--------------------\n")
        
        except Exception as e:
            print(f"An error occurred: {e}")

# Run the chatbot
if __name__ == "__main__":
    chatbot()

In [ ]:
prompit=f"""



"""

In [ ]:

response = model.generate_content("استعمل لغه التشويق استعمل العاميه المصريه الشبيحه عاوز تبعت عرض لشاب عنده 25 سنه عرض بخصوص بوكسرات قطن طريه جدا علي التوت ")
print(response.text)